body{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
}
.navbar-brand{
	width: 254px;
	display: inline-block;
}
.left-right-space{
	padding: 0px 80px;
}
.ml-auto{
	margin-left: auto;
}
.social-icons ul{
	margin: 0px;
	padding: 0px;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
}
.social-icons ul li a {
    color: #000000;
    font-size: 20px;
}
.navbar-nav.me-auto.mb-2.mb-md-0{
	align-items: center;
    justify-content: center;
    margin: auto;
}
.nav-link{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #000000;
	margin: 0px 30px;
}
.social-icons{
	margin-right: 30px;
}
.btn{
	background: #1562D9;
	border-radius: 30px;
	width: 171px;
	font-size: 18px;
	padding: 15px 10px;
}
.phnobtn{
	width: 220px;
}
.btn.phnobtn{
	border: 1px solid #000000;
	background: #ffffff;
	color: #000000;
	font-weight: 700;
	margin-right: 10px;
}
.banner-quotes{
	display: flex;
}
.quotes-icon{
    flex-shrink: 0;
}
.banner-quotes p{
	padding-left: 20px;
}
.laptop-img img{
	width: 100%;
}
.image100 img{
	width: 100%;
}
.banner-section-wrapper{
	background-image: url("../images/springbg.png");
	background-repeat: no-repeat;
	background-position: top right;
}
.banner-section-wrapper:before{
	content: "";
	position: absolute;
	width: 573px;
	height: 587px;
	background-image: url("../images/light.png");
	z-index: -1;
}
.banner-wrapper h1{
	font-family: 'Poppins', sans-serif;
	font-size: 70px;
	font-weight: 600;
	margin-top: 60px;
	color: #000000;
}
.banner-wrapper h1 b{
	font-weight: 700;
}
.banner-buttons{
	margin-top: 40px;
}
.button-group.banner-buttons .btn.phnobtn{
	width: auto;
	border: 1px solid #1562D9;
    background: #ffffff;
    color: #1562D9;
    padding: 15px 35px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 0px;
}
.our-clients.marketing-sec.attendance-sec h2{
	font-size: 230px;
	text-shadow: 0 0 3px #FFDBCB, 0 0 5px #FFDBCB;
}
.our-clients.marketing-sec.attendance-sec{
	background: linear-gradient(180deg, rgba(205, 255, 236, 0) 0%, #CDFFEC 100%);
	position: relative;
	overflow: hidden;
}
.our-clients.marketing-sec.attendance-sec:before{
	content: "";
	width: 731px;
	height: 1079px;
	position: absolute;
	background-image: url("../images/blackshadow.png");
	left: 0;
    z-index: -1;
	bottom: -330px;
}
.our-clients.marketing-sec.attendance-sec:after{
	content: "";
    width: 218px;
    height: 266px;
    background-image: url(../images/spring2.png);
    position: absolute;
    right: 0;
    bottom: 0;
	z-index: -1;
}
.btn.btn-primary.getfree-btn{
    width: auto;
    padding: 15px 40px;
}
.were-excited {
    display: flex;
    margin-top: 100px;
}
.were-excited p{
	font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.banner-wrapper{
	background-image: url("../images/layer.png");
	background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 200px;
	background-position: bottom center;
}
.banner-wrapper.layers-top{
	background-position: top center;
}
.banner-wrapper.client-management-banner h1{
	font-weight: 600;
}
.banner-section-wrapper.client-management-banner-wrapper{
	background-image: url(../images/dumble-bg.png);
}
.banner-section-wrapper.client-management-banner-wrapper h1{
	font-weight: 600;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-section-wrapper.client-management-banner-wrapper{
	position: relative;
}
.banner-section-wrapper.client-management-banner-wrapper:before{
	content: "";
	position: absolute;
	left: 0px;
	background-image: url(../images/spring.png);
	background-repeat: no-repeat;
	bottom: -275px;
}
.our-clients h2{
	font-size: 242px;
	color: #ffffff;
	text-shadow: 0 0 3px #FFEBC9, 0 0 5px #FFEBC9;
	font-weight: 700;
	text-align: center;
}
.our-clients{
	background: linear-gradient(180deg, rgba(255, 241, 218, 0) 0%, #FFF1DA 100%);
	padding-bottom: 100px;
}
.our-clients-logos ul{
	margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-clients-logos ul li{
	list-style: none;
	display: inline-block;
}
.our-clients-logos ul.spacetopsixty{
	margin-top: 60px;
}
.game-changer-wrapper{
	padding: 50px 0px 100px;
}
.game-changer-wrapper h2{
	text-align: center;
	font-size: 175px;
	color: #ffffff;
	text-shadow: 0 0 3px #fee7fb, 0 0 5px #fee7fb;
	font-weight: 700;
}
.gamebox{
	background-color: #eaf7ff;
    border: 1px solid #dbdbdb;
    padding: 50px 20px;
    text-align: center;
    border-radius: 24px;
    height: 428px;
}
.gamebox h3{
	font-weight: 700;
	font-size: 35px;
}
.gamebox p{
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
}
.game-icon{
	margin-top: 30px;
}
.spacetop130{
	margin-top: 130px;
}
.margintop80{
	margin-top: 80px;
}
.spacetop190{
	margin-top: 190px;
}
.gamechanger-title{
	margin-bottom: -100px;
}
.game-changer-wrapper .payment-title{
	font-size: 60px;
	line-height: 76px;
	color: #343434;
	font-weight: 700;
}
.automate-payments{
	padding-left:30px;
}
.grapic{
	margin-top: 40px;
}
.game-changer-wrapper{
	background-image: url("../images/gloss.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 300px;
}
.try-it-out{
	font-weight: 500;
	font-size: 25px;
	color: #343434;
	line-height: 40px;
	text-align: center;
    margin-top: 60px;
}
.try-it-out a{
	font-size: 30px;
	font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    display: block;
}
.we-fitin-section{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffdfe7+0,ffffff+100 */
background: #ffdfe7; /* Old browsers */
background: -moz-linear-gradient(top,  #ffdfe7 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffdfe7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffdfe7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfe7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
padding: 100px 0px 300px;
position: relative;
}
.we-fitin-section:before{
	background-image: url("../images/blue-shape.png");
	content: "";
	position: absolute;
	width: 303px;
	height: 544px;
	left: 0px;
	z-index: 1;
	bottom: 0px;
}
.we-fitin-section h2{
	font-size: 60px;
	line-height: 76px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
}
.polygon{
	background-image:url("../images/polygon.png");
	background-repeat: no-repeat;
    text-align: center;
    background-position: center top;
    height: 312px;
	display: block;
	text-decoration: none;
	color: #000000;
}
.polygon h4{
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-top: 30px;
}
.feature-section-wrapper.more-features.blue-shadow .thumbnail-box{
	background-image: url(../images/blue-shadow.png);
}
.feature-section-wrapper.more-features.blue-shadow .thumbnail-box .thumbnail-icon{
	width: 180px;
    margin: auto;
}
.feature-section-wrapper.more-features.blue-shadow .thumbnail-box .thumbnail-icon img{
	width: 100%;
}
.feature-section-wrapper.more-features.blue-shadow.purple-shadow .thumbnail-box .thumbnail-icon{
	width: auto;
}
.feature-section-wrapper.more-features.blue-shadow.purple-shadow .thumbnail-box .thumbnail-icon img{
	width: auto;
}
.polygon-icon{
	height: 182px;
}
.polygon.dance-studio img {
    margin-top: -20px;
}
.we-fitin-section .row{
	align-items: center;
    justify-content: center;
}
.getting-clients-section ul li{
	list-style: auto;
	font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.getting-clients-section{
	background-color: #1562D9;
	padding: 100px 0px;
	position: relative;
}
.getting-clients-section h3{
	font-size: 60px;
	line-height: 82px;
	font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.follow-img img{
	width: 100%;
}
.follow-img {
    position: absolute;
    top: -125px;
}
.gym-image img{ 
	width: 100%;
}
.col-md-6.gym-image-wrapper{
	padding: 0px;
}
.automate-gym .left-right-space{
	padding-left: 0px;
}
.intro h2,.intro h3{
	font-size: 60px;
	color: #343434;
	font-weight: 700;
	margin-bottom: 40px;
}
.intro p{
	font-size: 20px;
    margin-bottom: 30px;
}
.glossy-title{
	text-align: center;
    font-size: 145px;
    color: #ffffff;
    text-shadow: 0 0 3px #fee7fb, 0 0 5px #fee7fb;
    font-weight: 700;
}
.clients-say-section .glossy-title{
	color: #2B2B2B;
	text-shadow: 0 0 3px #000000, 0 0 5px #000000;
	font-size: 200px;
}
.automate-gym .intro{
	padding-top: 150px;
}

.intro ul li{
	list-style: none;
	font-size: 20px;
    margin-bottom: 30px;
    position: relative;
}
.intro ul li:before{
	content: "";
	width: 16px;
	height: 15px;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	position: absolute;
    top: 10px;
    left: -30px;
}
.laptop-image img{
	width: 100%;
}
.corporate-level-section{
	background-image: url("../images/subscribe-section-bg.png");
	background-repeat: no-repeat;
	background-position: top center;
    background-size: cover;
    padding: 50px 0px;
}
.thumbnail-box h6{
	font-weight: 700;
	font-size: 35px;
	color: #343434;
	margin: 25px 0px;
}
.thumbnail-box p{
	color: #343434;
	font-size: 18px;
	line-height: 30px;
	color: #343434;
}
.thumbnail-box{
	text-align: center;
	background-image: url("../images/blur-bg.png");
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.section-title{
    font-size: 60px;
    line-height: 76px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.game-changer-wrapper h2{
    text-align: center;
    font-size: 175px;
    color: #ffffff;
    text-shadow: 0 0 3px #fee7fb, 0 0 5px #fee7fb;
    font-weight: 700;
}
.feature-section-wrapper .glossy-title{
	font-size: 200px;
	line-height: 1.2em;
}
.feature-section-wrapper .section-title{
	margin-top: -100px;
}
.feature-section-wrapper{
	background: linear-gradient(180deg, rgba(255, 241, 218, 0) 0%, #ffe3b2 100%);
	padding: 70px 0px
}
.clients-say-section{
	background-color: #2B2B2B;
	padding: 80px 0px;
}
.clients-say-section h2{
	color: #ffffff;
	margin-top: -175px;
}
.teswrap{
	position: relative;
	padding: 40px 10px 0px;
}
.teswrap:before{
	content: "";
	width: 107px;
	height: 107px;
	background-image: url("../images/tes.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
    top: 0px;
}
.teswrap p{
	font-style: italic;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	color: #ffffff;
}
.teswrap i{
	font-style: italic;
	font-size: 18px;
	color: #ffffff;
}
.owl-nav{
	display: none;
}
.owl-dot span{
	width: 37px;
	height: 8px;
	background: #636363;
	border-radius: 114px;
	display: inline-block;
	margin:0px 5px;
}
.owl-dot.active span{
	width: 69px;
	height: 8px;
	background: #e1e1e1;
	border-radius: 114px;
	display: inline-block;
}
.owl-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.blue-footer{
	background-color: #1562D9;
	padding: 100px 0px;
}
.blue-footer ul li a{
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	color: #ffffff;
	text-decoration: none;
}
.blue-footer ul li{
	list-style: none;
	margin-bottom: 10px;
	color: #ffffff;
}
.blue-footer ul li i{
    margin-left: 10px;
}
.blue-footer ul{
	margin: 0px;
	padding: 0px;
}
.blue-footer h5{
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
	margin-bottom: 30px;
}
.social-links ul li{
	display: inline-block;
	margin: 0px 10px;
}
.social-links ul li a{
	font-size: 28px;
}
.social-links{
	margin-top: 30px;
}
.newsletter-wrapper h4{
	font-weight: 600;
	font-size: 26px;
	color: #ffffff;
	line-height: 1.5em;
}
.newsletter-wrapper form input{
	width: 100%;
	height: 68px;
	border-radius: 10px;
	margin-bottom: 25px;
	border: 0px;
	padding: 10px 20px;
}
.newsletter-wrapper form [type=submit]{
	background: #FFD07E;
	color: #000000;
	font-size: 18px;
}
.newsletter-wrapper h4{
	margin-bottom: 40px;
}
.blue-footer .countries-flag ul li a i{
	margin-left: 5px;
}
.blue-footer .countries-flag ul li a{

}
.our-clients.billing-payment{
	background: linear-gradient(180deg, rgba(255, 241, 218, 0) 0%, #EAF7FF 100%);
	padding-bottom: 0px;
	height: 1030px;
}
.our-clients.billing-payment h2{
	text-shadow: 0 0 3px #CBEBFF, 0 0 5px #CBEBFF;
	text-align: center;
    line-height: 185px;
}
.our-clients.billing-payment h2{
    font-size: 200px;
}
.our-clients.billing-payment{
	text-align: center;
}
.our-clients.billing-payment p{
	font-weight: 500;
	font-size: 30px;
	line-height: 49px;
}
.our-clients.billing-payment .intro{
    margin-top: -200px;
}
.billing-image{
    margin-top: -65px;
}
.game-changer-wrapper.workout-plan{
    padding-top: 170px;
	background-position: top right;
	position: relative;
	padding-bottom: 0px;
}
.game-changer-wrapper.workout-plan h2{
	text-align: right;
	line-height: 1em;
	text-shadow: 0 0 3px #FFD07E, 0 0 5px #FFD07E;
}
.game-changer-wrapper.workout-plan:before{
	content: "";
	width: 255px;
	height: 222px;
	background-image: url("../images/spiral.png");
	position: absolute;
	right: 0px;
}
.game-changer-wrapper.workout-plan .grapic img{
	width: 100%;
}

.game-changer-wrapper.workout-plan .grapic{
	margin-top: 300px;
}
.game-changer-wrapper.workout-plan .board{
	margin-bottom: 30px;
    margin-top: -190px;
}

.game-changer-wrapper.workout-plan .gamebox{
	background-color: transparent;
    border: 0px;
    text-align: left;
    padding: 0px 100px 0px 0px;
	height: auto;
}
.game-changer-wrapper.workout-plan .gamechanger-title {
    margin-bottom: 0px;
}
.game-changer-wrapper.diet-plan .grapic img{
	width: 100%;
}
.game-changer-wrapper.diet-plan{
	background-image:none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.game-changer-wrapper.diet-plan .gamechanger-title {
    margin-bottom: 0px;
}
.game-changer-wrapper.diet-plan .gamebox{
    background-color: transparent;
    border: 0px;
    text-align: left;
    padding: 0px 100px 0px 0px;
	height: auto;
}
.feature-section-wrapper.more-features{
	background: transparent;
	padding-bottom: 80px;
	padding-top:0px;
}
.feature-section-wrapper.more-features .thumbnail-box{
	background-image: url(../images/pinkshine.png);
}
.banner-section-wrapper.marketing-banner-wrapper{
	background-image: url(../images/Decore.png);
}
.our-clients.marketing-sec .gamebox{
	background-color: transparent;
    border: 0px;
    text-align: left;
    padding: 0px 100px 0px 0px;
	height: auto;
}
.our-clients.marketing-sec .grapic img{
	width: 100%;
}
.our-clients.marketing-sec{
	background: linear-gradient(180deg, rgba(255, 241, 218, 0) 0%, #FFC2AE 100%);
	position: relative;
}
.our-clients.marketing-sec:before{
	content: "";
	width: 218px;
	height: 266px;
	background-image: url("../images/spring2.png");
	position: absolute;
    right: 0;
    bottom: 0;
	z-index: -1;
}
.our-clients.marketing-sec h2{
	text-align: center;
	margin-bottom: -160px;
}
.our-clients.marketing-sec .row{
	align-items: center;
}
.banner-section-wrapper.marketing-banner-wrapper .banner-wrapper{
	padding-bottom: 0px;
}
.game-changer-wrapper.workout-plan.retain-clients .grapic{
	margin-top: 0px;
}
.game-changer-wrapper.workout-plan.retain-clients{
	background: none;
	padding-top: 100px;
}
.game-changer-wrapper.workout-plan.retain-clients:before{
	display: none;
}
.game-changer-wrapper.workout-plan.retain-clients .gamebox h3{
	margin-bottom: 30px
}
.game-changer-wrapper.workout-plan.retain-clients .row{
	align-items: center;
}
.sms-refral-section{
	padding-top: 300px;
	padding-bottom: 150px;
}
.sms-refral-section .gamebox{
	background-color: #CDFFEC;
	border-radius: 80px;
	min-height: auto;
    height: auto;
}
.sms-refral-section .game-icon{
	margin-top: 0px;
}
.sms-refral-section .game-icon {
    margin-top: -230px;
    margin-bottom: 30px;
}
.automate-img img{
	width: 100%;
}
.automate-gym-wrapper .section-title{
	text-align: left;
	margin-bottom: 40px;
}
.section-content p{
	font-size: 20px;
	margin-bottom: 40px;
}
.automate-gym-wrapper {
    background-image: url(../images/glossleft.png);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: top left;
	padding: 100px 0px 160px;
}
.quick-bookings{
	margin-top: 100px;
	transition: all 0.3s ease-in-out 0s;
}
.thumbnail-group-section .gamebox{
	height:auto;
}
.thumbnail-group-section .game-icon{
	margin-top: 0px;
	margin-bottom: 40px;
}
.thumbnail-group-section{
	padding: 120px 0px;
}
.thumbnail-group-section .spacetop{
	margin-top: 50px;
}
.thumbnail-group-section .gamebox{
	border: 1px solid #89B7FF;
	border-radius: 80px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.our-clients.billing-payment.payment-history .intro{
	margin-top: 0px;
}
.our-clients.billing-payment.payment-history{
	background: none;
	padding-bottom: 100px;
    height: auto;
}
.our-clients.marketing-sec.attendance-sec.reporting-sec h2 {
    text-align: center;
    margin-bottom: -260px;
}
.our-clients.marketing-sec.attendance-sec.reporting-sec{
	position: relative;
	background: linear-gradient(180deg, rgba(205, 255, 236, 0) 0%, #CBEBFF 100%);
}
.our-clients.marketing-sec.attendance-sec.reporting-sec:before{
	content: "";
    position: absolute;
    width: 288px;
    height: 416px;
    background-image: url(../images/bubble.png);
    left: 0px;
    top: 100px;
    z-index: -1;
}
.our-clients.marketing-sec.attendance-sec.reporting-sec:after{
	display: none;
}
.game-changer-wrapper.workout-plan.retain-clients.instant-access{
	position: relative;
}
.our-clients.marketing-sec.keep-tabs{
	background: none;
    text-align: center;
}
.our-clients.marketing-sec.keep-tabs .gamebox{
	text-align: center;
    width: 65%;
    margin: auto;
	padding: 0px;
}
.banner-section-wrapper.client-management-banner-wrapper.booking-personal-bnn:before{
	display: none;
}
.banner-section-wrapper.client-management-banner-wrapper.booking-personal-bnn .banner-wrapper{
	padding-bottom: 100px;
}
.feature-section-wrapper.more-features.blue-shadow.purple-shadow .thumbnail-box{
	background-image: url(../images/purple-sadow.png);
}
.our-clients.marketing-sec.attendance-sec.employee-sec h2{
	text-shadow: 0 0 3px #CBEBFF, 0 0 5px #CBEBFF;
	font-size: 200px;
	margin-bottom: -100px;
}
.banner-section-wrapper.client-management-banner-wrapper.empbnn-wrapper:before{
	display: none;
}
.banner-section-wrapper.client-management-banner-wrapper.empbnn-wrapper .banner-wrapper{
	padding-bottom: 100px;
}
.our-clients.marketing-sec.keep-tabs.tr-g{
	padding-top: 100px;
    padding-bottom: 0;
}
.our-clients.marketing-sec.keep-tabs.tr-g:before{
	display: none;
}
.our-clients.marketing-sec.keep-tabs.tr-g .gamebox{
	width: 90%;
}
.our-clients.marketing-sec.keep-tabs.tr-g h5{
	font-weight: 700;
    font-size: 35px;
    color: #343434;
    margin: 25px 0px;
}
.freedemo-btn{
	justify-content: end;
}
.tryfree{
	margin-top: 40px;
}
.banner-section-wrapper.client-management-banner-wrapper.landingpage-banner:before{
	display: none;
}
.our-clients.think-digital h2{
	text-align: center;
	line-height: 1em;
	font-size: 150px;
}
.our-clients.think-digital .intro{
	text-align: center;
	margin-top: -100px;
}
.sms-refral-section{
	background: linear-gradient(180deg, rgba(218, 255, 222, 0) 0%, #DBFFDA 100%);
}
.gamebox.referral-programs{
    margin-top: 100px;
}
.our-clients.think-digital .gamebox{
	height: auto;
}
.our-clients.think-digital .gamebox .game-icon{
	margin: 0px;
}
.sp-bottom{
	margin-bottom: 40px;
}
.sp-top{
	margin-top: 40px;
}
.our-clients.think-digital .spacetop{
	margin-top:60px;
}
.think-digital .game-icon img {
    width: 270px;
}
.our-clients.think-digital .gamebox{
	background-color: #ffffff;
}
.our-clients.think-digital .digital-marketing-title{
	margin-bottom: 100px;
}
.our-clients.think-digital .spacetop .game-icon{
	margin-top: -150px;
}
.our-clients.think-digital .spacebootom .game-icon{
	margin-bottom: -150px;
}
.book-free .btn{
    width: 230px;
}
.our-clients.think-digital{
	position: relative;
}
.our-clients.think-digital:before{
	content: "";
	width: 401px;
	height: 129px;
	position: absolute;
	background-image: url(../images/dots.png);
	bottom: -65px;
}
.page-target .grapic img{
	width: 100%;
}
.game-changer-wrapper.page-target h2{
	font-size: 100px;
    text-align: left;
}
.game-changer-wrapper.page-target .gamechanger-title{
	margin-bottom: 0px;
}
.game-changer-wrapper.page-target .gamebox{
	background-color: transparent;
	height: auto;
	margin-bottom: 60px;
}
.page-target .intro h3{
	margin-bottom: 0px;
	text-align: center;
}
.game-changer-wrapper.page-target{
	padding-top: 150px;
}
.game-changer-wrapper.page-target .gamebox .board{
	margin-bottom: 30px;
}
.gamebox.no-box{
	background-color: transparent;
    border: 0px;
    text-align: left;
    padding: 0px 100px 0px 0px;
    height: auto;
}
.game-changer-wrapper.give-digital .grapic{
    margin-top: 0px;
}
.game-changer-wrapper.give-digital{
	justify-content: center;
}
.game-changer-wrapper.give-digital h3{
	font-weight: 700;
	font-size: 60px;
	line-height: 82px;
}
.game-changer-wrapper.give-digital .gamebox ol li{
	font-weight: 500;
	font-size: 20px;
	line-height: 50px;
}
.game-changer-wrapper.give-digital .gamebox ol{
	margin-top: 60px;
}
.game-changer-wrapper.give-digital .grapic img{
	width: 100%;
}
.game-changer-wrapper.give-digital .row{
	justify-content: center;
    align-items: center;
}
.game-changer-wrapper.give-digital{
padding: 100px 0px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff2d5+0,ffffff+100 */
background: #fff2d5; /* Old browsers */
background: -moz-linear-gradient(top,  #fff2d5 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fff2d5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fff2d5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2d5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.game-changer-wrapper.page-target .col-md-6{
	position: relative;
}
.game-changer-wrapper.page-target .automate-payments{
	bottom: 0px;
    position: absolute;
}
.game-changer-wrapper.page-target{
	padding-bottom: 0px;
}
.actionspace{
	padding-bottom: 100px;
}
.getting-clients-section ol li{
	list-style: auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}
.getting-clients-section.billboard-sec{
	padding: 100px 0px 0px;
}
.off-markit{
	padding-bottom: 60px;
}
.billbord-image{
	position: relative;
}
.billbord-image .follow-img{

}
.getting-clients-section.billboard-sec .left-right-space{
	padding-right: 0px;
}
.bill-img img{
	width: 100%;
}
.col-md-6.billbord-image{
	padding-right: 0px;
}
.getting-clients-section.billboard-sec{
	position: relative;
}
.getting-clients-section.billboard-sec:before{
	content: "";
	width: 302px;
	height: 495px;
	position: absolute;
	background-image: url(../images/qrcode.png);
	display: none;
}
.chalo-sec{
	position: relative;
}
.chalo-sec:before{
	content: "";
	position: absolute;
	width: 819px;
	height: 633px;
	background-image: url(../images/chalo.png);
	position: absolute;
	right: 0px;
	display: none;
}
.chalo-img img{
	width: 100%;
}
.subscribe-section .newsletter-wrapper h4{
	color: #000000;
	font-weight: 600;
	font-size: 33px;
	line-height: 54px;
	text-align: center;
}
.subscribe-section{
	padding: 100px 0px;
}
.subscribe-section .newsletter-wrapper form{
    display: flex;
	width: 50%;
    margin: auto;
}
.subscribe-section .newsletter-wrapper form input[type="email"]{
	margin-bottom: 0px;
	background-color: #F5F5F5;
	margin-right: 30px;
}
.subscribe-section .newsletter-wrapper form [type=submit]{
	width: 180px;
	background-color: #1562D9;
	color: #ffffff;
}
.pinkfooter-social ul li{
	list-style: none;
	display: inline-block;
}
.pink-footer{
	text-align: center;
}
.pink-footer{
	background-image: url("images/footer-pink.pmg");
}
.billing-features .thumbnail-icon{
	width: 150px;
	margin: auto;
}
.billing-features .thumbnail-icon img{
	width: 100%;
}
.employe-feature .thumbnail-box{
	margin-bottom: 100px;
}
.employe-feature .thumbnail-box.spacetop{
	margin-top: 50px;
}
.banner-section-wrapper.faq-banner-banner .row{
	align-items: center;
}
.banner-section-wrapper.faq-banner-banner .banner-wrapper h1{
	margin-top: 0px;
}
.faq-wrapper-section{
	padding-bottom: 150px;
}
.faq-wrapper-section .accordion-header button{
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
}
.faq-wrapper-section .accordion-body{
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}
.faq-wrapper-section .accordion-item{
	border-top: 1px solid #000000;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 40px 0px;
}
.accordion-button:focus{
	box-shadow:none;
}
.accordion-button:not(.collapsed){
	box-shadow: none;
	background-color: transparent;
	color: #0d6efd;
}
.faq-wrapper-section strong{
	font-weight: normal;
}
.menulink{
	display: flex;
	text-decoration: none;
	color: #000000;
}
.menulink .linkicon{
	flex-shrink: 0;
}
.navbar-expand-md .navbar-nav{
	position: relative;
}
.navbar-expand-md .navbar-nav li ul{
	position: absolute;
    background-color: #ffffff;
    margin: 0px;
    padding: 40px 20px;
	box-shadow: 0px 0px 10px 0px #f2f2f2f2;
	width: 1180px;
    display: flex;
	flex-wrap: wrap;
	margin-left: -100px;
	display: none;
	z-index: 20;
}
.navbar-expand-md .navbar-nav li ul li{
	list-style: none;
	width: 380px;
    margin-bottom: 30px;
}
.navbar-expand-md .navbar-nav li:hover ul{
	display: flex;
}
.linkicon{
	margin-right: 10px;
}
.menulink-text{
	padding-right: 35px;
}
.menulink-text h6{
	font-weight: 500;
	font-size: 20px;
}
.banner-section-wrapper.gym-banner-wrapper:before{
	display: none;
}
.gym-banner-wrapper .banner-wrapper h1{
	text-align: left;
	margin-top: 0px;
}
.gym-banner-wrapper .gym-banner h6{
	text-align: left;
	font-weight: 500;
	font-size: 30px;
}
.gym-banner-wrapper .gym-banner p{
	font-size: 20px;
	text-align: left;
	line-height: 40px;
	margin-top: 30px;
}
.gym-banner-wrapper .banner-wrapper{
	background-image: none;
}
.banner-section-wrapper.marketing-banner-wrapper.gym-banner-wrapper .banner-wrapper{
	padding: 100px 0px 60px;
}
.gym-banner-wrapper .gym-banner .btn{
	width: 250px;
    margin-top: 40px;
}
.biometric-image img{
	width: 100%;
}
.our-clients.biometric-section{
	background: linear-gradient(180deg, rgba(205, 255, 236, 0) 0%, #CBEBFF 100%);
	background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 100px;
	position: relative;
}
.our-clients.biometric-section:before{
	content: "";
	background-image: url("../images/layer.png");
	position: absolute;
	width: 100%;
	z-index: -1;
	height: 100%;
    background-repeat: no-repeat;
}
.our-clients.biometric-section h2 {
    text-shadow: 0 0 3px #FFDBCB, 0 0 5px #FFDBCB;
}
.our-clients.biometric-section .intro p{
	font-size: 30px;
	font-weight: 500;
	line-height: 50px;
}
.our-clients.biometric-section .row{
	align-items: center;
}
.our-clients.biometric-section .intro{
	margin-left: 30px;
}
.game-changer-wrapper.workout-plan.boost-productivity .grapic{
	margin-top: 0px;
}
.game-changer-wrapper.workout-plan.boost-productivity .row{
	align-items: center;
}
.game-changer-wrapper.workout-plan.boost-productivity{
    padding-top: 100px;
	background-image: none;
}
.game-changer-wrapper.workout-plan.boost-productivity:before{
    top: -120px;
}
.game-changer-wrapper.diet-plan.retain-clients .row{
	align-items: center;
}
.game-changer-wrapper.workout-plan.boost-productivity .intro p{
	font-size: 30px;
	line-height: 50px;
}
.game-changer-wrapper.diet-plan.retain-clients .intro p{
	font-size: 30px;
	line-height: 50px;
}
.automate-payments {
    padding-left: 0px;
}
.game-changer-wrapper.diet-plan.retain-clients{
	padding-bottom: 150px;
	background: linear-gradient(180deg, rgba(203, 235, 255, 0) 0%, #CBEBFF 100%);
}
.we-fitin-section.why-dance-studios:before{
	display: none;
}
.we-fitin-section.why-dance-studios{
	padding: 150px 0px;
}
.we-fitin-section.why-dance-studios .polygon h4{
	margin-top: 30px;
}
.we-fitin-section.why-dance-studios .polygon-icon{
	height: 200px;
}
.feature-section-wrapper.more-features.billing-features.pinkbg{
	background: linear-gradient(180deg, rgba(203, 235, 255, 0) 0%, #F2BBCF 100%);
}
.information-text p{
	font-size: 30px;
	line-height: 50px;
}
.information-text h3{
	font-size: 60px;
}
.feature-section-wrapper.more-features.blue-shadow.purple-shadow{
	background: linear-gradient(180deg, rgba(205, 255, 236, 0) 0%, #FBE7FF 100%);
}
.feature-section-wrapper.more-features.blue-shadow{
	background: linear-gradient(180deg, rgba(203, 235, 255, 0) 0%, #E8F6FF 100%);
}
.polygon-icon.fts img{
	margin-top: -35px;
}
.corporate-level-section .row{
	align-items: center;
}
.automate-gym-wrapper .row{
	align-items: center;
}
.banner-section-wrapper.client-management-banner-wrapper .row{
	align-items: center;
}
.game-changer-wrapper.workout-plan .row{
	align-items: center;
}
.blue-footer .row{
	justify-content: center;
}
.our-clients.marketing-sec.attendance-sec .gamebox.information-text{
	padding-right: 0px;
	padding-top: 100px;
    padding-bottom: 100px;
}
.our-clients.marketing-sec.attendance-sec h2{
	margin-bottom: -100px;
}
.our-clients.marketing-sec.keep-tabs.today-training .gamebox{
	width: 100%;
}
.our-clients.marketing-sec.keep-tabs.tr-g h3{
	margin-bottom: 50px;
}
.grapic img{
	width: 100%;
}
.our-clients.marketing-sec.attendance-sec.QR-attendance-section{
	padding-bottom: 0px;
}
.banner-section-wrapper.home-banner .banner-wrapper{
	background-position: bottom center;
}
@media only screen and (min-width:1920px){

	.our-clients.billing-payment h2{
    	font-size: 242px;
	}
	.banner-wrapper h1{
		font-size: 80px;
	}
	.our-clients h2{
		font-size: 250px;
	}
	.container-fluid{
		width: 1920px;
	}
}
@media only screen and (max-width:1440px){

	.our-clients.marketing-sec.attendance-sec:before{
		display: none
	}
	.our-clients.marketing-sec.attendance-sec h2{
		font-size: 150px;
	}
	.clients-say-section .glossy-title{
		font-size: 100px;
	}
	.banner-wrapper h1{
		font-size: 60px;
	}
	.our-clients h2{
		font-size: 150px;
	}
	.btn.btn-primary.getfree-btn{
		margin: 20px 0px;
	}
	.banner-wrapper{
		padding-bottom: 80px;
	}
	.our-clients-logos ul li{
		margin: 0px 20px;
	}
	.our-clients-logos ul li img{
		width: 100%;
	}
	.btn.phnobtn{
		margin: 15px 0px;
	}
	.navbar.navbar-expand-md .navbar-nav.me-auto.mb-2.mb-md-0{
		margin: inherit;
	}
	.game-changer-wrapper h2{
		line-height: 1em;
	}
	.game-changer-wrapper .payment-title{
		font-size: 50px;
		line-height: 66px;
	}
	.game-icon img{
		width: 100%;
	}
	.gamebox{
		height: auto;
	}
	.spacetop190 {
		margin-top: 60px;
	}
	.spacetop130 {
		margin-top: 60px;
	}
	.polygon {
		background-size: contain;
	}
	.polygon-icon img{
		width: 100%;
	}
	.polygon-icon{
		width: 165px;
		margin: auto;
		align-items: center;
    	display: flex;
	}
	.polygon h4{
		margin-top: 0px;
		font-size: 20px;
    	line-height: 25px;
		margin-top: 10px;
	}
	.we-fitin-section{
		padding-bottom: 150px;
	}
	.polygon-icon.fts img{
		margin-top: 0px;
	}
	.we-fitin-section:before{
		left: -100px;
	}
	.getting-clients-section h3{
		font-size: 50px;
		line-height: 72px;
	}
	.navbar-expand-md .navbar-nav li ul{
		width: auto;
	}
	.menulink-text h6{
		font-size: 16px;
	}
	.menulink-text {
		padding-right: 0px;
	}
	.menulink-text p{
		font-size: 14px;
	}
	.our-clients.billing-payment h2 {
		font-size: 150px;
	}
	.billing-image img{
		width: 100%;
	}
	.our-clients.billing-payment p br{
		display: none;
	}
	.feature-section-wrapper.more-features.blue-shadow.purple-shadow .thumbnail-box .thumbnail-icon img{
		width: 100%;
	}
}	
@media only screen and (max-width:1199px){

	.game-changer-wrapper.diet-plan .gamebox{
		padding: 0px;
	}
	.game-changer-wrapper.workout-plan .gamebox{
		padding: 0px;
	}
	.left-right-space {
		padding: 0px 20px;
	}
	.navbar-brand{
		width: 200px;
	}
	.navbar-brand img{
		width: 100%;
	}
	.btn{
		font-size: 16px
	}
	.phnobtn {
		width: auto;
		padding: 15px 20px;
	}
	.section-title br{
		display: none;
	}
	.section-title{
		font-size: 50px;
		line-height: 1.2em;
	}
	.thumbnail-box h6{
		font-size: 30px;
	}
	.teswrap p{
		font-size: 20px;
		line-height: 30px;
	}
	.follow-img{
		margin: auto;
		position: static;
	}
	.intro h2, .intro h3{
		font-size: 50px;
	}
	.feature-section-wrapper .glossy-title{
		font-size: 170px;
	}
	.laptop-img img{
		width: 100%;
	}
	.our-clients.billing-payment h2,.game-changer-wrapper h2,.feature-section-wrapper .glossy-title {
		font-size: 120px;
		line-height: 1.2em;
	}
	.our-clients.marketing-sec.attendance-sec.employee-sec h2{
		font-size: 150px;
	}
	.our-clients.marketing-sec.attendance-sec h2{
		font-size: 100px;
		margin-bottom: -50px;
	}
	.banner-section-wrapper.marketing-banner-wrapper.billing-page .banner-wrapper{
		padding-bottom: 100px;
	}
	.thumbnail-group-section .gamebox{
		height: auto;
		margin-bottom: 40px;
	}
	.thumbnail-group-section.billing-page-thumbnail .gamebox h3{
		font-size: 30px;
	}
	.thumbnail-group-section{
		padding: 80px 0px;
	}
	.navbar-expand-md .navbar-nav li ul{
		padding-bottom: 0px;
	}
	.navbar-expand-md .navbar-nav li ul li{
		width: 100%;
	}
}
@media only screen and (max-width:991px){

	.feature-section-wrapper.more-features.blue-shadow.bio-metric-page{
		padding-top: 80px;
	}
	.banner-section-wrapper.marketing-banner-wrapper.billing-page .banner-wrapper h1{
		margin-bottom: 40px;
	}
	.our-clients.marketing-sec.attendance-sec:before{
		display: none;
	}
	.nav-link{
		font-size: 16px;
		margin: 0px 10px;
	}
	.phnobtn{
		padding: 10px;
	}
	.btn{
		font-size: 14px;
		padding: 10px 20px;
		width: auto;
	}
	.social-icons {
		margin-right: 0px;
	}
	.btn.phnobtn {
		margin: 10px 0px;
	}
	.gamebox h3{
		font-size: 28px;
	}
	.game-changer-wrapper .payment-title{
		font-size: 45px;
		line-height: 60px;
		margin-top: 40px;
	}
	.we-fitin-section:before{
		left: -180px;
	}
	.polygon-icon{
		width: 115px;
		height: 130px;
	}
	.we-fitin-section{
		padding-bottom: 0px;
	}
	.feature-section-wrapper{
		padding: 60px 0px;
	}
	.thumbnail-icon{
		width: 125px;
		margin: auto;
	}
	.thumbnail-icon img{
		width: 100%;
	}
	.thumbnail-box h6{
		font-size: 25px;
	}
	.our-clients h2{
		font-size: 120px;
	}
	.game-changer-wrapper h2{
		font-size: 120px;
	}
	.gamechanger-title {
		margin-bottom: 60px;
	}
	.automate-gym-wrapper{
		padding: 100px 0px 100px;
	}
	.intro h2, .intro h3 {
		font-size: 40px;
	}
	.social-links{
		margin: 30px 0px;
	}
	.feature-section-wrapper .glossy-title {
		font-size: 140px;
	}
	.getting-clients-section h3{
		font-size: 45px;
		line-height: 62px;
	}
	.our-clients.billing-payment h2, .game-changer-wrapper h2, .feature-section-wrapper .glossy-title {
		font-size: 100px;
		line-height: 1em;
	}
	.billing-image {
		margin-top: 0px;
	}
	.our-clients.billing-payment{
		height: auto;
		padding-bottom: 60px;
	}
	.game-changer-wrapper.workout-plan{
		padding-top: 100px;
	}
	.game-changer-wrapper.workout-plan .gamebox{
		padding: 0px;
	}
	.information-text p {
		font-size: 20px;
		line-height: 35px;
	}
	.our-clients.marketing-sec.attendance-sec.employee-sec h2 {
		font-size: 100px;
	}
	.our-clients.marketing-sec.attendance-sec .gamebox.information-text{
		padding-bottom: 0px;
	}
	.banner-section-wrapper.marketing-banner-wrapper.bio-metric-banner .banner-wrapper h1{
		margin-bottom: 40px;
	}
	.our-clients.marketing-sec.attendance-sec.QR-attendance-section {
		padding-bottom: 80px;
	}
	.feature-section-wrapper.more-features.blue-shadow .thumbnail-box .thumbnail-icon{
		width: 100px;
	}
	.col-reverse .row{
		flex-direction: column-reverse !important;
	}
	.automate-payments .grapic{
		margin-bottom: 40px;
	}
	.game-changer-wrapper.diet-plan.retain-clients{
		padding-bottom: 100px;
	}
	.our-clients.biometric-section .intro p,.game-changer-wrapper.workout-plan.boost-productivity .intro p,.game-changer-wrapper.diet-plan.retain-clients .intro p{
		font-size: 20px;
    	line-height: 35px;
	}
	.biometric-image{
		width: 80%;
    	margin: auto auto 40px;
	}
	.gym-banner-wrapper .gym-banner p br{
		display: none;
	}
	.our-clients.biometric-section .intro {
		margin-left: 0px;
	}
	.gym-banner-wrapper .gym-banner .btn{
		margin-bottom: 40px;
	}
	.we-fitin-section.why-dance-studios .polygon-icon img{
		margin-top: -60px;
	}
	.we-fitin-section.why-dance-studios .polygon h4{
		margin-top: -30px;
	}
	.we-fitin-section.why-dance-studios {
		padding: 100px 0px;
	}
	.we-fitin-section.why-dance-studios .polygon{
		height: 200px;
	}
	.we-fitin-section.why-dance-studios .polygon-icon{
		width: 90px;
	}
	.we-fitin-section.why-dance-studios .polygon-icon {
		height: 150px;
	}
	.we-fitin-section h2 {
		font-size: 50px;
		line-height: 66px;
	}
}
@media only screen and (max-width:767px){

.game-changer-wrapper.workout-plan:before{
	display: none;
}
.we-fitin-section.why-dance-studios .polygon-icon {
	height: auto;
	margin: auto;
	width: 65px;
}
.we-fitin-section.why-dance-studios .polygon{
	padding-top: 20px;
}
.we-fitin-section.why-dance-studios .polygon h4 {
    margin-top: 20px;
}
.we-fitin-section.why-dance-studios {
    padding: 60px 0px;
}
.we-fitin-section.why-dance-studios .polygon-icon img {
    margin-top: 0px;
}
.game-changer-wrapper.diet-plan.retain-clients {
	padding-bottom: 60px;
}
.banner-section-wrapper.marketing-banner-wrapper.gym-banner-wrapper .banner-wrapper{
	padding: 60px 0px;
	background-image: url(../images/layer.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.biometric-image{
	width: 400px;
	margin: auto auto 40px;
}
.game-changer-wrapper.diet-plan.retain-clients{
	padding-top: 0px;
}
.our-clients.biometric-section .intro {
    margin-left: 0px;
}
.banner-section-wrapper.client-management-banner-wrapper.booking-personal-bnn .laptop-img{
	margin-top: 40px;
}
.banner-section-wrapper.client-management-banner-wrapper.booking-personal-bnn .banner-wrapper {
	padding-bottom: 60px;
}
.our-clients.marketing-sec:before{
	display: none;
}
.game-changer-wrapper.workout-plan.retain-clients .gamebox h3{
	margin-top: 40px;
}
.feature-section-wrapper.more-features.blue-shadow.bio-metric-page {
    padding-top: 40px;
}
.feature-section-wrapper.more-features.blue-shadow.bio-metric-page{
	padding-bottom: 40px;
}
.game-changer-wrapper.workout-plan.retain-clients.col-reverse .row{
	flex-direction: column-reverse;
}
.game-changer-wrapper.workout-plan.retain-clients.col-reverse .gamebox.information-text{
	margin-top: 40px;
}
.banner-section-wrapper{
	background: none !important;
}
.our-clients.marketing-sec.attendance-sec.reporting-sec h2{
	margin-bottom: 0px;
}
.feature-section-wrapper.more-features.blue-shadow .thumbnail-box{
	margin-bottom: 40px;
}
.game-changer-wrapper.workout-plan.retain-clients{
	padding-top: 60px;
}
.navbar-expand-md .navbar-nav li ul{
	position: static;
	margin: 0;
}
.nav-link{
	text-align: center;
}
.navbar-expand-md .navbar-nav li ul li{
	width: auto;
}
.linkicon{
	margin-bottom: 10px;
}
.thumbnail-group-section .spacetop{
	margin-top: 0px;
}
.our-clients.marketing-sec.attendance-sec .gamebox.information-text{
	padding-top: 0px;
}
.employe-feature .thumbnail-box {
    margin-bottom: 60px;
}
.our-clients.marketing-sec.keep-tabs.tr-g{
    padding-top: 60px;
}
.feature-section-wrapper .section-title{
	margin-top: 20px;
	margin-bottom: 40px;
}
.board img{
	width:100%;
}
.board{
	width: 100px;
	margin-bottom: 10px;
}
.game-changer-wrapper.diet-plan .gamebox{
	padding: 0px
}
.game-changer-wrapper.workout-plan .grapic {
	margin-top: 40px;
}
.game-changer-wrapper.diet-plan{
	padding-top: 60px;
}
.our-clients.billing-payment h2, .game-changer-wrapper h2, .feature-section-wrapper .glossy-title {
    font-size: 40px;
}
.our-clients.billing-payment .intro {
    margin-top: 40px;
}
.game-changer-wrapper.workout-plan .board {
    margin-top: 0px;
}
.game-changer-wrapper.workout-plan h2 {
    text-align: center;
}
.our-clients.billing-payment p {
    font-size: 20px;
    line-height: 38px;
}
	.feature-section-wrapper .glossy-title{
		font-size: 80px;
	}
	.our-clients h2 {
		font-size: 80px;
	}
	.game-changer-wrapper h2{
		font-size: 80px;
	}
	.we-fitin-section h2{
		font-size: 40px;
		line-height:1.2em;
	}
	.polygon{
		width: 200px;
    	margin: auto;
    	height: 220px;
    	margin: auto auto 30px;
	}
	.clients-say-section .glossy-title{
		font-size: 70px;
	}
	.banner-section-wrapper:before{
		display: none;
	}
	.game-icon{
		width: 200px;
		margin: auto;
	}
	.our-clients-logos ul{
		flex-wrap: wrap;
		align-items: center;
	}
	.our-clients-logos ul li {
		margin-bottom: 40px;
		width: 35%;
	}
	.our-clients{
		padding-bottom: 60px;
	}
	.banner-wrapper h1 {
		font-size: 40px;
	}
	.navbar-brand {
		width: 120px;
	}
	.were-excited{
		margin-top: 60px;
	}
	.game-changer-wrapper .payment-title {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}
	.try-it-out{
		font-size: 20px;
    	margin-top: 40px;
	}
	.try-it-out a{
		font-size: 25px;
	}
	.game-changer-wrapper{
		padding-bottom: 60px;
	}
	.we-fitin-section{
		padding: 60px 0px;
	}
	.we-fitin-section h2{
		margin-bottom: 40px;
		font-size: 35px;
	}
	.polygon h4{
		font-size: 18px;
	}
	.getting-clients-section{
		padding: 60px 0px;
	}
	.getting-clients-section h3 {
		font-size: 35px;
		line-height: 50px;
	}
	.getting-clients-section ul li{
		font-size: 18px;
	}
	.margintop80 {
		margin-top: 60px;
	}
	.section-title{
		font-size: 40px;
	}
	.automate-gym-wrapper {
		padding: 60px 0px;
	}
	.clients-say-section h2{
		margin-top: 0px;
	}
	.clients-say-section h2{
		margin-bottom: 20px;
	}
	.blue-footer{
		padding: 60px 0px;
	}
	.navbar-expand-md .navbar-nav li ul {
		width: 100%;
		padding-bottom: 0px;
	}
	.menulink .linkicon{
		width: 50px;
	}
	.menulink .linkicon img{
		width: 100%;
	}
	.menulink{
		flex-direction: column;
	}
	.left-right-space {
		padding: 0px 10px;
	}
	.social-icons ul{
		text-align: center;
	}
	.button-group{
		text-align: center;
	}
	.sms-refral-section .game-icon {
		margin-top: 0px;
	}
	.sms-refral-section {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.our-clients.marketing-sec h2 {
		text-align: center;
		margin-bottom: 0px;
		margin-top: 40px;
	}
	.our-clients.marketing-sec .gamebox{
		padding: 0px;
	}
	.our-clients.marketing-sec .gamebox {
		padding: 0px;
		margin-top: 40px;
	}
	.newsletter-wrapper{
		margin-top: 40px;
	}
	.thumbnail-group-section{
		padding: 80px 0px;
	}
	.thumbnail-group-section.billing-page-thumbnail{
		padding-bottom: 40px;
	}
	.our-clients.billing-payment.payment-history{
		padding-bottom: 60px;
	}
	.our-clients.marketing-sec.attendance-sec h2{
		font-size: 70px;
		margin: 0;
	}
	.banner-section-wrapper.marketing-banner-wrapper.billing-page .banner-wrapper{
		padding-bottom: 70px;
	}
	.gym-banner-wrapper .gym-banner .btn{
		margin-top: 20px;
		margin-bottom: 40px;
	}
	.game-changer-wrapper.workout-plan.boost-productivity:before{
		display: none;
	}
	.our-clients.biometric-section{
		padding-bottom: 60px;
	}
	.game-changer-wrapper.workout-plan.boost-productivity{
		padding-top: 60px;
	}
	.our-clients.marketing-sec.attendance-sec h2{
		margin-top: 40px;
	}
}

@media only screen and (max-width:575px){

	.banner-wrapper h1 {
		font-size: 35px;
	}
	.game-changer-wrapper.workout-plan.retain-clients {
		padding-top: 40px;
	}
	.our-clients.marketing-sec.attendance-sec.employee-sec h2 {
		font-size: 50px;
	}
	.gamebox.referral-programs {
		margin-top: 60px;
	}
	.sms-refral-section {
		padding-top: 40px;
	}
	.biometric-image{
		width: auto;
	}
	.biometric-image {
		margin-top: 30px;
	}
	.our-clients.marketing-sec.attendance-sec h2{
		font-size: 40px;
	}
	.our-clients-logos ul li{
		margin-bottom: 40px;
		width: 100%;
		text-align: center;
	}
	.our-clients-logos ul li img{
		width: 200px;
	}
	.our-clients-logos ul.spacetopsixty{
		margin-top: 0px;
	}
	.clients-say-section .glossy-title{
		font-size: 40px;
	}
	.game-changer-wrapper h2{
		font-size: 50px;
	}
	.feature-section-wrapper .glossy-title {
		font-size: 50px;
		margin-top: 20px;
	}
	.our-clients h2{
		font-size: 50px;
	}
	.we-fitin-section:before{
		display: none;
	}
}